<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Under $10</title>
</head>
<body>
  <h1>Meals List</h1>
  <% meals.forEach(function(meals) { %>
   <div>
   <a href= '<%= `/meals/${meals.id}` %>'><span><%= meals.meal_name %></span></a>
   <p '<%= `/meals/${meals.id}` %>'><span><%= meals.amount %></span></p>
   <p '<%= `/meals/${meals.id}` %>'><span><%= meals.restaurant_name %></span></p>
   <p '<%= `/meals/${meals.id}` %>'><span><%= meals.location %></span></p>
   <p '<%= `/meals/${meals.id}` %>'><span><%= meals.review %></span></p>
   <p '<%= `/meals/${meals.id}` %>'><span><%= meals.createdAt %></span></p>
   </div>
   <% }) %>
</body>
</html>
