<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Under $10</title>
        <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head>
<nav>
    <div class="nav-wrapper #ffd54f amber lighten-2">
      <a href="#" class="brand-logo center ">Welcome to Under$10</a>
      </div>
  </nav>
  <!-- <h1>Under$10 List</h1> -->
  <% meals.forEach(function(meals) { %>
   <body>
     <div class="row">
        <div class="col s12 m6">
          <div class="card #3949ab indigo darken-1">
            <div class="card-content h6 white-text">
              <span class="card-title"  '<%= `/meals/${meals.id}` %>'><span><%= meals.amount %></span>
              <ul>
                  <li '<%= `/meals/${meals.id}` %>'><span><%= meals.meal_name %></span></li>
                  <li '<%= `/meals/${meals.id}` %>'><span><%= meals.restaurant_name %></span></li>
                  <li '<%= `/meals/${meals.id}` %>'><span><%= meals.location %></span></li>
                  <li '<%= `/meals/${meals.id}` %>'><span><%= meals.review %></span></li>
                  <li '<%= `/meals/${meals.id}` %>'><span><%= meals.createdAt %></span></li>
                  </ul>
            </div>
            <div class="card-action">
              <a href="#">Add meal</a>
              <a href="#">Delete meal</a>


              <form action="<%= '/meals/' + meals.id + '?_method=DELETE' %>" method="POST">
                <input type="submit" value="Delete" />
                  </form>
                  <form action="<%='/meals/' + meals.id + '/edit' %>" method="POST">
                <input type="submit" value="Edit" />
              </form>
            </div>
            <!-- <div class="card-action">
              <a href="<%='/meals/' + meals.id + '/edit' %>" method="POST">Add meal</a>
              <a href="<%= '/meals/' + meals.id + '?_method=DELETE' %>" method="POST" >Delete meal</a>
            </div>
          </div>
        </div> -->
</body>
   <% }) %>
   <!-- <a class="waves-effect waves-light btn-large #3949ab indigo darken-1 float right">Add a Meal</a>
      <a class="waves-effect waves-light btn-large #3949ab indigo darken-1 ">Log Out</a> -->
   <footer class="page-footer #ffd54f amber lighten-2">
          <div class="container #ffd54f amber lighten-2">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="#3949ab indigo-text darken-1-text">Under$10</h5>
                <p class="#3949ab indigo-text darken-1-text">General Assembly Group Project Unit 3</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="#3949ab indigo-text darken-1-text">Happy Eating!</h5>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <a class="#3949ab indigo-text darken-1 right" href="#!">nom nom nom</a>
            </div>
          </div>
        </footer>
   <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

</html>
